.d4 {fill: green;}
.d4.used {fill: #00ff0044;}
.d6 {fill: #ffa500;}
.d6.used {fill: #ffa50044;}
.d8 {fill: #000099;}
.d8.used {fill: #00009944;}
.d10 {fill:#ffff4c;}
.d10.used {fill: #ffff4c44;}
.d12 {fill: #800080;}
.d12.used {fill: #80008044;}

// .available {
//     fill: red;
// }
// .used{
//   fill: #ffffff30;
// }