<p>rule-reminders works!</p>
<ul>
  <li>
    to calculate modifier from your ability score, do the following:
  </li>
</ul>
<ol>
  <li>Divide your score by 2</li>
  <li>round down</li>
  <li>Subtract 5</li>
</ol>

<table style="width: 250px">
  <thead>
    <tr>
      <td>Task Difficulty</td>
      <td style="text-align:center">DC</td>
    </tr>
  </thead>
  <caption>Typical Difficulty <a class="autolink" href="/compendium/dnd5e/BookIndex#h-Classes"></a><a class="autolink"
       href="/compendium/dnd5e/Classes#h-Classes"></a><a class="autolink"
       href="/compendium/dnd5e/Classes#h-Classes">Classes</a>
  </caption>
  <tbody>
    <tr>
      <td>Very easy</td>
      <td style="text-align:center">5</td>
    </tr>
    <tr>
      <td>Easy</td>
      <td style="text-align:center">10</td>
    </tr>
    <tr>
      <td>Medium</td>
      <td style="text-align:center">15</td>
    </tr>
    <tr>
      <td>Hard</td>
      <td style="text-align:center">20</td>
    </tr>
    <tr>
      <td>Very hard</td>
      <td style="text-align:center">25</td>
    </tr>
    <tr>
      <td>Nearly impossible</td>
      <td style="text-align:center">30</td>
    </tr>
  </tbody>
</table>
Strength
Athletics

Dexterity
Acrobatics
Sleight of Hand
Stealth

Intelligence
Arcana
History
Investigation
Nature
Religion

Wisdom
Animal Handling
Insight
Medicine
Perception
Survival

Charisma
Deception
Intimidation
Performance
Persuasion


passive checks: 10 + all modifiers that normally apply to the check