<!-- <mat-slide-toggle
                  class="example-margin"
                  [color]="'warn'"
                  [disabled]="disabled">
  Edit Mode
</mat-slide-toggle> -->





<mat-grid-list cols="9"
               rowHeight="50px">
  <mat-grid-tile colspan="9"
                 rowspan="3">
    <mat-card class="top-card">
      <div [ngClass]="{'death-div': hello2===3}">

        <img class="character"
             src="../../../assets/images/js.png"
             alt="js the dark elf"
             [matTooltip]="hello2===3 ? character.name + ' (deceased)' : character.name">
      </div>


      <div class="class-and-level">

        <div *ngFor="let class of character.classes; let i = index"
             class="class-row">

          <mat-form-field class="class-input">
            <input matInput
                   [value]="class.class | titlecase"
                   [disabled]="disabled">
            <mat-hint *ngIf="i===character.classes.length - 1"
                      align="start">Class</mat-hint>
          </mat-form-field>
          <mat-form-field class="level-input">
            <input matInput
                   [value]="class.level"
                   [disabled]="disabled">
            <mat-hint *ngIf="i===character.classes.length - 1"
                      align="start">Level</mat-hint>
          </mat-form-field>
        </div>

      </div>
      <div class="race-and-background">

        <mat-form-field class="class-row">
          <input matInput
                 [value]="character.race | titlecase"
                 placeholder="Race">
        </mat-form-field>
        <mat-form-field class="class-row">
          <input matInput
                 [value]="character.background.name | titlecase">
          <mat-hint>Background</mat-hint>
        </mat-form-field>
      </div>
      <div class="alignment-and-xp">

        <mat-form-field class="class-row">
          <input matInput
                 placeholder="Alignment">
          {{(character.alignment.lawfulness | titlecase) + ' ' + (character.alignment.goodness | titlecase)}}

        </mat-form-field>

        <mat-form-field class="class-row">
          <input matInput
                 value="{ n: n &#8712; N }">
          <mat-hint>XP</mat-hint>

        </mat-form-field>
      </div>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1"
                 rowspan="13">
    <div
         style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-evenly; align-items: flex-start;; margin: 1px;">
      <div *ngFor="let ability of abilitiesInOrder;"
           style="width: calc(100% - 12px); height: calc(108px - 8px); border: 1px solid red; display: flex; flex-direction: column; justify-content: space-around; align-items: center; border: 1px solid lightslategray; border-radius: 15%; background-color: #303030;">
        <div class="ability-title"
             style="text-decoration: underline; font-size:.75rem;">{{ability | titlecase}}
        </div>
        <div class="ability-modifier"
             style="font-size: 1.5em;">
          {{character.abilityScores[ability].modifier | modifier}}</div>
        <div class="ability-score"
             style="width: 50%;; border: 1px solid lightslategray; border-radius: 50%;">
          {{character.abilityScores[ability].score}}</div>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="2"
                 rowspan="1">
    <mat-checkbox>Inspiration</mat-checkbox>
  </mat-grid-tile>

  <mat-grid-tile colspan="1"
                 rowspan="2">
    <mat-form-field class="example-full-width">
      <input matInput
             [value]="character.armourClass">
      <mat-hint>Armour Class</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="1"
                 rowspan="2">
    <mat-form-field class="example-full-width">
      <input matInput
             [ngModel]="character.abilityScores.dexterity.modifier | modifier">
      <mat-hint>
        Initiative
      </mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="1"
                 rowspan="2">
    <mat-form-field class="example-full-width">
      <input matInput
             [value]="character.speed + ' ft.'">
      <mat-hint>Speed</mat-hint>
    </mat-form-field>
  </mat-grid-tile>










  <mat-grid-tile colspan="3"
                 rowspan="15"
                 style="border: 1px solid white;">
    <div style="width:100%; height: 100%; overflow: scroll">

      <h5>Features & Traits</h5>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let trait of character.traits; let i = index;"
                             [expanded]="step === i"
                             (opened)="setStep(i)"
                             hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong style="text-decoration: underline;">
                {{trait.name | titlecase}}
              </strong>
            </mat-panel-title>
            <mat-panel-description>
              {{trait.blurb | titlecase}}
              <!-- <mat-icon>account_circle</mat-icon> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- <h5>Granted by: {{trait.from | titlecase}}</!-->
          <p class="feature-trait-paragraph"
             *ngFor="let paragraph of trait.descriptionParagraphs"
             style="text-align: justify">{{paragraph}}</p>


        </mat-expansion-panel>


      </mat-accordion>
    </div>
  </mat-grid-tile>














  <mat-grid-tile colspan="2"
                 rowspan="1">
    <mat-icon color="accent">filter_{{character.proficiencyBonus}}</mat-icon>&nbsp;Proficiency Bonus
  </mat-grid-tile>

  <mat-grid-tile colspan="2"
                 rowspan="3">

    <div
         style="width: 100%; display: flex; flex-direction: column; align-items: flex-start; border: 1px solid darkgray; border-radius: 4px; padding: 2px;">
      <div style="width: 100%;text-decoration: underline; font-size: .75em; text-align: center;">
        Saving Throw Modifiers
      </div>

      <mat-selection-list #savingThrows
                          dense
                          style="width: 100%;">
        <div>
          <mat-list-option checkboxPosition="before"
                           *ngFor="let ability of abilitiesInOrder"
                           [selected]="character.savingThrows[ability].proficient"
                           style="height: 20px; width: 100%">
            <div style="width: 100%; display: flex; justify-content: space-between;">
              <div style="width: 30%; text-decoration: underline;">

                &nbsp;{{character.savingThrows[ability].savingThrow | modifier}}&nbsp;
              </div>
              <div style="width: 70%; text-align: left;">


                {{ability | titlecase}}
              </div>
            </div>

          </mat-list-option>
        </div>
      </mat-selection-list>
    </div>

  </mat-grid-tile>

  <mat-grid-tile *ngIf="character.hitPoints.current > 0 || character.hitPoints.temp > 0; else deathSaves"
                 colspan="3"
                 rowspan="2">
    <div>

      <h5 style="margin: 0;">

        Hit Points
      </h5>
      <div fxLayout="row"
           fxLayoutAlign="space-between center"
           style="width: 100%">
        <div>

          <mat-form-field style="width: 50px;">
            <input matInput
                   [value]="character.hitPoints.current"
                   style="width: 50px;"
                   (change)="updateCurrentHitPoints($event)">
            <mat-hint>Current</mat-hint>
          </mat-form-field>
        </div>
        <div>
          &nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;
        </div>
        <div>

          <mat-form-field style="width: 50px;">
            <input matInput
                   [value]="character.hitPoints.temp"
                   style="width: 50px;">
            <mat-hint>Temp</mat-hint>
          </mat-form-field>
        </div>

        <div>
          &nbsp;&nbsp;&nbsp;of&nbsp;&nbsp;&nbsp;
        </div>
        <div>

          <mat-form-field style="width: 50px;">
            <input matInput
                   [value]="character.hitPoints.max"
                   style="width: 50px;">
            <mat-hint>Max</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-grid-tile>

  <ng-template #deathSaves>
    <mat-grid-tile colspan="3"
                   rowspan="2"
                   style="border: 1px solid white;">
      <div
           style="width: 100%; height: 100%; display: flex; justify-content: space-evenly; overflow: scroll;">
        <div
             style="width: 40%; height: 100%; display: flex; flex-direction: column; justify-content:flex-end;">

          <mat-slider class="my-slider"
                      max="3"
                      min="0"
                      step="1"
                      thumbLabel
                      tickInterval="1"
                      [(ngModel)]="hello"
                      color="accent"
                      style="height: 20px;">
          </mat-slider>
          <h6>Death Successes</h6>
        </div>
        <div
             style="width: 40%; height: 100%; display: flex; flex-direction: column; justify-content:flex-end;">


          <mat-slider class="my-slider"
                      max="3"
                      min="0"
                      step="1"
                      thumbLabel
                      tickInterval="1"
                      [(ngModel)]="hello2"
                      color="warn"
                      style="height: 20px;">
          </mat-slider>
          <h6>Death Failures</h6>

        </div>
      </div>
    </mat-grid-tile>
  </ng-template>






  <mat-grid-tile colspan="3"
                 rowspan="2"
                 style="border: 1px solid white; overflow: scroll;">
    <div style="height: 100%; width: 100%;"
         fxLayout="column wrap"
         fxLayoutAlign="space-around space-around">
      <div *ngFor="let die of character.collectedDice.availableDice">
        <app-svgdie [die]="die"
                    [available]="true"
                    [numberOfDice]="character.collectedDice.totalDice"></app-svgdie>
      </div>
      <div *ngFor="let die of character.collectedDice.usedDice">
        <app-svgdie [die]="die"
                    [available]="false"
                    [numberOfDice]="character.collectedDice.totalDice"></app-svgdie>


      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2"
                 rowspan="8">

    <div
         style="width: 100%; display: flex; flex-direction: column; align-items: flex-start; border: 1px solid darkgray; border-radius: 4px; padding: 2px;">
      <div style="width: 100%;text-decoration: underline; font-size: .75em; text-align: center;">
        Skill Modifiers
      </div>

      <mat-selection-list #skillModifiers
                          dense
                          style="width: 100%;">
        <div>
          <mat-list-option checkboxPosition="before"
                           *ngFor="let skill of skillsInOrder"
                           [selected]="character.proficiencies.skills.includes(skill)"
                           style="height: 20px; width: 100%">
            <div style="width: 100%; display: flex; justify-content: space-between;">
              <div style="width: 30%; text-decoration: underline;">

                &nbsp;{{character.skillModifiers[skill] | modifier}}&nbsp;
              </div>
              <div style="width: 70%; text-align: left; white-space: nowrap;">


                {{skill | uncamelcase | titlecase}}
              </div>
            </div>

          </mat-list-option>
        </div>
      </mat-selection-list>
    </div>

  </mat-grid-tile>



  <mat-grid-tile colspan="3"
                 rowspan="4"
                 style="border: 1px solid white;">
    <form style="width: 100%"
          class="example-form"
          fxLayout="column"
          fxLayoutAlign="start">
      <ng-container *ngFor="let weapon of character.weapons; let i = index;">
        <div class="weapon-row"
             fxLayout
             fxLayoutAlign="space-around">

          <mat-form-field class="weapon-name">
            <input matInput
                   [placeholder]="i === 0 ? 'WEAPON' : ''"
                   [value]="weapon.name | titlecase">
          </mat-form-field>

          <mat-form-field class="weapon-attack-bonus">
            <input matInput
                   [placeholder]="i === 0 ? 'ATK BONUS' : ''"
                   [value]="weapon.attackBonus | modifier">
          </mat-form-field>

          <mat-form-field class="weapon-damage-type">
            <input matInput
                   [placeholder]="i === 0 ? 'DAMAGE / TYPE' : ''"
                   [value]="weapon.dieAndDamage[weapon.currentNumberOfHands]">
            <button mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="change # of hands"
                    (click)="toggleNumberOfHands(weapon)">
              <mat-icon *ngIf="weapon.currentNumberOfHands==='oneHanded'; else twoHanded">thumb_up
              </mat-icon>
            </button>

            <ng-template #twoHanded>
              <mat-icon inline>thumbs_up_down</mat-icon>
            </ng-template>


          </mat-form-field>

        </div>
      </ng-container>
    </form>
  </mat-grid-tile>





  <mat-grid-tile colspan="3"
                 rowspan="10"
                 style="border: 1px solid white;">
    <div style="width: 100%; height: 100%;"
         fxLayout="column"
         fxLayoutAlign="start center">
      <h5 style="font-size: .75rem; text-decoration: underline; margin: 0;">Spells</h5>
      <div fxLayout="row"
           fxLayoutAlign="space-around start"
           style="width: 100%; height: 100%">

        <ng-container *ngFor="let spellSlotLevel of character.multiClassSpellSlots; let i = index;">

          <mat-form-field *ngIf="spellSlotLevel !== 0 ||(i<=5 && i>0)"
                          style="width: 10%;">
            <input matInput
                   [value]="spellSlotLevel">
            <mat-hint style="width:10%;">{{'L' + i}}</mat-hint>
          </mat-form-field>
        </ng-container>
      </div>
    </div>
  </mat-grid-tile>





  <mat-grid-tile colspan="3"
                 rowspan="1">
    <div style="width: 100%; height: 100%;">
      <div
           style="position: absolute; top: 4px;  width: 33px; height: 33px;border: 1px solid red; border-radius: 15%; z-index: 1; background-color: #303030; vertical-align: middle; line-height: 33px;">
        {{character.abilityScores.wisdom.passiveScore}}</div>
      <div style="position: absolute; right: 0px;width: calc(100% - 30px); height: 40px; border: 1px solid red; border-radius: 15%; z-index: 0; vertical-align: middle; line-height: 40px;"
           [matTooltip]="passiveScores"
           [matTooltipClass]="'my-tooltip'">Passive Wisdom (Perception)</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3"
                 rowspan="6"
                 style="border: 1px solid darkgray; border-radius: 4px;">
    <div style="height: 100%; width: 100%">

      <div style=" display: flex; justify-content: space-around; align-items: flex-start;">
        <mat-form-field style="width: 30px;"
                        *ngFor="let treasure of treasuresInOrder">
          <input matInput
                 [value]="character.treasures[treasure]">
          <mat-hint>{{treasure | uppercase}}</mat-hint>
        </mat-form-field>
      </div>

      <mat-list dense
                style="overflow: scroll;">
        <mat-list-item *ngFor="let item of character.equipment"
                       style="margin-bottom: -10px;"
                       [matTooltip]="item.description"> {{item.name | titlecase}}
          ({{item.quantity || 1}})
        </mat-list-item>

      </mat-list>
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="3"
                 rowspan="5"
                 style="border: 1px solid white;">
    <div fxLayout="column"
         fxLayoutAlign="start start"
         style="height: 100%; width: 100%; padding: 0 10px;">

      <p style="text-align: left;">
        <strong>
          Proficiencies:
        </strong>
        <span *ngFor="let proficiency of character.proficiencies.list; let isLast = last;"
              style="font-size: .75rem;">{{proficiency | titlecase}}<span
                *ngIf="!isLast">,&nbsp;</span>
        </span>
      </p>
      <p style="text-align: left;">
        <strong>
          Languages:
        </strong>
        <span *ngFor="let language of character.languages; let isLast = last"
              style="font-size: .75rem;">

          {{language | titlecase}}<span *ngIf="!isLast">,&nbsp;</span>

        </span>
      </p>

    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="9"
                 rowspan="8">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <textarea matInput
                  placeholder="Personality Traits"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput
                  placeholder="Ideals"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput
                  placeholder="Bonds"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput
                  placeholder="Flaws">
        {{flawsText}}
        </textarea>
      </mat-form-field>
    </form>
  </mat-grid-tile>


</mat-grid-list>
<button (click)="showCharacter()">Show Character</button>
<app-chat [character]="character"></app-chat>
