	
html, body { 
    margin: 0;
    height: 100%;
 }

// @import "~@angular/material/prebuilt-themes/purple-green.css";

@import '~@angular/material/theming';
@include mat-core();

$dnd-red: (
  50: #f4e4e5,
  100: #e3babd,
  200: #d18d92,
  300: #be5f66,
  400: #b03c45,
  500: #a21a24,
  600: #9a1720,
  700: #90131b,
  800: #860f16,
  900: #75080d,
  A100: #ffa5a8,
  A200: #ff7276,
  A400: #ff3f45,
  A700: #ff252c,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: white,
    A700: white,
  )
);




$my-app-primary: mat-palette($dnd-red);
$my-app-accent:  mat-palette($mat-teal);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);


