	
html, body { 
    margin: 0;
    height: 100%;
 }

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dnd-app-primary: mat-palette($mat-red);
$dnd-app-accent:  mat-palette($mat-teal);

// The warn palette is optional (defaults to red).
$dnd-app-warn:    mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$mat-dark-theme-background: (
  status-bar: black,
  app-bar:    map_get($mat-grey, 900),
  background: map-get($mat-grey, 700 ),
  hover:      rgba(white, 0.04), // TODO(kara): check style with Material Design UX
  card:       map_get($mat-grey, 800),
  dialog:     map_get($mat-grey, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: map_get($mat-grey, 1000),
);

$dnd-app-theme-dark: mat-dark-theme($dnd-app-primary, $dnd-app-accent, $dnd-app-warn);
$dnd-app-theme-light: mat-light-theme($dnd-app-primary, $dnd-app-accent, $dnd-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dnd-app-theme-dark);
@include mat-card-theme($dnd-app-theme-light);
@include mat-form-field-theme($dnd-app-theme-light); // Form-Field theme
@include mat-input-theme($dnd-app-theme-light);   